@use "./variables.scss" as *;
article p {
  text-indent: 2em;
}
// put your custom CSS here!
@layer quartz-user {
  ul.toc-content.overflow {
    max-height: calc(100vh - 8rem) !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    overscroll-behavior: contain;
  }
}